.header {
    height: 28vw; /* Adjusted height */
    margin: 0 auto;
    background: url('/copy-space-organic-fruits-smoothie.jpg') no-repeat center center; /* Ensure correct path */
    background-size: cover; /* Cover the entire header area */
    position: relative; /* Ensure z-index works */
    z-index: 10; /* Bring the header to the front */
    max-width: 1100px;
    border-radius: 20px;
    overflow: hidden; /* Prevent content overflow */
    display: flex;
    align-items: center; /* vertical center */
    justify-content: flex-start; /* place contents toward left */
}

.header-contents {
    text-align: left; /* left-align text for better layout */
    padding: 40px 35px;
    color: white; /* Ensure text is visible on the background */
    max-width: 480px;
   
  
}
.header-contents h1 {
    font-size: 55px;
    font-family: Montserrat;
}
.header-contents h2{
    font-size: 25px;
    padding-top: 20px;
}
.header-contents p {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.header-contents button {
    padding: 6px 8px;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(26, 52, 38);
    cursor: pointer;
    border-radius: 20px;
}